
:root  {
  --background: #20222F;
  --color-blanco: #fff;
  --textBlack: #000;
  --textGray: #8C98C6;
  --textBlue: #147cbb;
  --inputBackground: #f5f5f5;
  --buttonBackground: rgba(65,137,230,0.15);
  --buttonText: #009ee3;
  --borderButton: #009ee3;
  --fontPrincipal: 'Nunito', sans-serif;
    
}
body { 
  margin:0; 
  padding:0; 
  min-height:calc(100vh); 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
  color: var(--color-blanco);
  transition: 3s all ease;

} 
body.ligth-theme{
  background-color: #f5f5f5;
  color: #1D1F29;
  transition: 0.5s all ease;
}
